@font-face {
  font-family: ambidexter;
  src: url(./assets/fonts/Ambidexter_Regular.woff);
}

*{
  margin: 0;
  border: 0;
}

h1 {
  font-family: ambidexter;
  color: RGB(254,121,41);
  font-size: 80px;
  text-shadow: 4px 4px rgb(255, 255, 0);
  margin-left: 15px;
}

#screen {
  background-color: rgb(228, 149, 224);
  height: 900px;
  width: 1550px;


}

#main {
}

#interactive{
}

#stats {
  background-color: RGB(254,121,41);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  width: 200px;
  height: 700px;
  float: right;
  text-align: center;
  display: grid;
  grid-template-rows: 220px auto 220px;
  justify-items: center;
  bottom: 10px;
}

.title{
  padding: 10px;
  font-size: 30px
}

.circle {
  background-color: yellow;
  color: rgb(0, 0, 0);
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50px;
  font-family: ambidexter;
  font-size: 76px;
  font-style: normal;
  justify-content: center;
}

.score{
  bottom: 10px;
}

#results{
  font-size: 27px;
  padding: 20px;
}
